﻿<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Site.master.cs" Inherits="Tracking.SiteMaster" %>
<%@ Register TagPrefix="Formularios" TagName="iframe" src="Formularios/iframe.ascx" %>


<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<meta http-equiv="x-ua-compatible" content="IE=8" >

<html>
<head runat="server">
    <title></title>
    <link href="~/Styles/Site.css" rel="stylesheet" type="text/css" />
    <link href="Styles/custom-theme/jquery-ui-1.10.3.custom.min.css" rel="stylesheet" type="text/css" />
    <link href="contextMenu/jquery.contextMenu.css" rel="stylesheet" type="text/css" />
    <link href="dataTable/jquery.dataTables.css" rel="stylesheet" type="text/css" />
    <script src="Scripts/jquery-1.10.2.min.js" type="text/javascript"></script>
    <script src="Scripts/jquery-ui-1.10.3.custom.min.js" type="text/javascript"></script>
    <script src="Scripts/json2.js" type="text/javascript"></script>   
    
    <script src="Scripts/Utilities.js" type="text/javascript"></script>
    <script src="Scripts/Tracking.js" type="text/javascript"></script>
    <script src="Scripts/smartTable.js" type="text/javascript"></script>

    <script src="contextMenu/jquery.ui.position.js" type="text/javascript"></script>
    <script src="contextMenu/jquery.contextMenu.js" type="text/javascript"></script>    
    
    <script src="dataTable/jquery.dataTables.min.js" type="text/javascript"></script>    
     
    <script src="Scripts/wsMain.js" type="text/javascript"></script>
    <script src="Scripts/wsSeguridad.js" type="text/javascript"></script>
    <script src="Scripts/http.js" type="text/javascript"></script>

    <script type="text/javascript">
        var SisacserviceURL = "<%=System.Configuration.ConfigurationManager.AppSettings["ServiceURL"]%>";
        var reporteAcuseUrl = "<%=System.Configuration.ConfigurationManager.AppSettings["reporteAcuseUrl"]%>";
        var reporteLabelUrl = "<%=System.Configuration.ConfigurationManager.AppSettings["reporteLabelUrl"]%>";

        var from = "<%=from%>";
        var dataTracking = {};
        var userData = {};
        var dataToServer = {};
        var existenCambios = false;
        var creacionPaquete = 0;

        $(document).ready(function () {
            
           $(window).bind('beforeunload', function () {
                if (existenCambios) {
                    return "Hay Cambios realizados sin guardar. Seguro que desea salir?";
                }            
            }); 
           $.fn.dataTableExt.sErrMode = 'throw';
           // MessageBox 
           $("#messageBox").dialog({ autoOpen: false, modal: true, heigth: 200, width: 330, title: "Mensaje del Sistema",
                close: function () {
                    $(this).find("#MENSAJE").html("");
                },
                height: 180, buttons: [{ text: "Aceptar", click: function () { $(this).dialog("close"); } }] 
            });

           // data necesaria para cargar tracking
           dataTracking = ajaxrequest("dataLoadTracking",{from: from});
          
          // SI LA EJECUCION DEL SERVICIO NO FUE EXITOSA
          // NIEGA EL ACCESO AL  USUARIO
          if(dataTracking.user["outscodmensajeOut"] == "06666"){
            // EL VALOR PASADO COMO PARAMETROS ES CORRESPODIENTE A LA CONDICION DE QUE SERAN NEGADO EL ACCESO
            accesoTracking('3    ');
          }

           // SEGURIDAD TRACKING
           aplicarPermisos();      
           aplicarExcepciones();     
                      
           //dataTracking.user =  WebSvcAccesoSoapHttpPort_prcAccusrpersec("1    ","1    ", user_id);
           
           
           // COLOCAR NOMBRE DE USUARIO EN TRACKING
           $("#labelUserData").html(dataTracking.user.outnombreOut);
           
           $(":button").button();

        });
    </script>
    <asp:ContentPlaceHolder ID="HeadContent" runat="server">
    </asp:ContentPlaceHolder>
</head>
<body>
      
    <div id="messageBox">
        <span class="ui-icon ui-icon-info" style="float: left; margin-right: .3em;"></span>
        <span id="mensaje"></span>  
    </div>
    <div class="page">
        <div class="header">
            <div class="title">
                <table>
                    <tr>
                        <td id="tagLogo">
                        
                        </td>
                        <td id="userData">
                            <span id="labelUserData">
                            
                            </span>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="loginDisplay">
                
            </div>
            <%--<div class="clear hideSkiplink">
                <asp:Menu ID="NavigationMenu" runat="server" CssClass="menu" EnableViewState="false" IncludeStyleBlock="false" Orientation="Horizontal">
                    <Items>
                        <asp:MenuItem NavigateUrl="~/Default.aspx" Text="Home"/>
                        <asp:MenuItem NavigateUrl="~/About.aspx" Text="About"/>
                    </Items>
                </asp:Menu>
            </div>--%>
            <%--<form id="Form1" runat="server" onsubmit="return false;">  --%>
            <div class="clear hideSkiplink">
                <div class="menu" id="Div1">
                    <ul class="level1">
                        <li><a class="level1" href="Default.aspx" >Principal</a></li>
                        <li><a class="level1" href="UploadFile.aspx" >Cargar Archivo</a></li>
                        <li><a class="level1" href="Reportes.aspx" >Reportes</a></li>
                    </ul>
                </div>
                <a id="NavigationMenu_Admin_SkipLink"></a>
            </div>
            <%--</form> --%>
        </div>
        <div class="main">
            <asp:ContentPlaceHolder ID="MainContent" runat="server"/>
        </div>
        <div class="clear">
        </div>
    </div>
    <div class="footer">
        
    </div>    
         
    <Formularios:iframe id="iframe" runat="server" /> 
</body>
</html>
