﻿/* DEFAULTS
----------------------------------------------------------*/

body   
{
    background: #b6b7bc;
    font-size: .80em;
    font-family: "Helvetica Neue", "Lucida Grande", "Segoe UI", Arial, Helvetica, Verdana, sans-serif;
    margin: 0px;
    padding: 0px;
    color: Black;
}

a:link, a:visited
{
    color: #034af3;
}

a:hover
{
    color: #1d60ff;
    text-decoration: none;
}

a:active
{
    color: #034af3;
}

p
{
    margin-bottom: 10px;
    line-height: 1.6em;
}


/* HEADINGS   
----------------------------------------------------------*/

h1, h2, h3, h4, h5, h6
{
    font-size: 1.5em;
    color: #666666;
    font-variant: small-caps;
    text-transform: none;
    font-weight: 200;
    margin-bottom: 0px;
    margin-top: 0.5px;
}

h1
{
    font-size: 1.6em;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

h2
{
    font-size: 1.5em;
    font-weight: 600;
}

h3
{
    font-size: 1.2em;
}

h4
{
    font-size: 1.1em;
}

h5, h6
{
    font-size: 1em;
}

/* this rule styles <h1> and <h2> tags that are the 
first child of the left and right table columns */
.rightColumn > h1, .rightColumn > h2, .leftColumn > h1, .leftColumn > h2
{
    margin-top: 0px;
}


/* PRIMARY LAYOUT ELEMENTS   
----------------------------------------------------------*/

.page
{
    width: 1024px;
    background-color: #fff;
    margin: 5px auto 0px auto;
    border: 1px solid #496077;
}

.header
{
    position: relative;
    margin: 0px;
    padding: 0px;
    background: #00247C;
    width: 100%;
}

.header h1
{
    font-weight: 700;
    margin: 0px;
    padding: 0px 0px 0px 20px;
    color: #f9f9f9;
    border: none;
    line-height: 2em;
    font-size: 2em;
}

.main
{
    padding: 0px 5px;
    margin: 5px 5px 5px 5px;
    min-height: 520px;
}

.leftCol
{
    padding: 6px 0px;
    margin: 12px 8px 8px 8px;
    width: 200px;
    min-height: 200px;
}

.footer
{
    color: #4e5766;
    padding: 8px 0px 0px 0px;
    margin: 0px auto;
    text-align: center;
    line-height: normal;
}


/* TAB MENU   
----------------------------------------------------------*/
div.hideSkiplink
{
    background-color:#3a4f63;
    width:100%;
}

div.menu
{
    padding: 4px 0px 4px 8px;
}

div.menu ul
{
    /*list-style: none;
    margin: 0px;
    padding: 0px;*/
    width: auto;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

div.menu ul li
{

/* este lo agregue yo*/
display: inline;
}

div.menu ul li a, div.menu ul li a:visited
{
    /*background-color: #465c71;
    border: 1px #4e667d solid;*/
    /*color: #dde4ec;
    display: block;
    line-height: 1.35em;
    padding: 4px 20px;
    text-decoration: none;*/
    white-space: nowrap;
    border: 1px Gray solid;
    text-decoration: none;
    padding: .2em 1em;
    color: #dde4ec;
    background-color: #465c71;
}

div.menu ul li a:hover
{
    background-color: #bfcbd6;
    color: #3a4f63;
    text-decoration: none;
}

div.menu ul li a:active
{
    background-color: #465c71;
    color: red/*#cfdbe6*/;
    text-decoration: none;
}

/* FORM ELEMENTS   
----------------------------------------------------------*/

fieldset
{
    margin: 1em 0px;
    padding: 1em;
    border: 1px solid #ccc;
}

fieldset p 
{
    margin: 2px 12px 10px 10px;
}

fieldset.login label, fieldset.register label, fieldset.changePassword label
{
    display: block;
}

fieldset label.inline 
{
    display: inline;
}

legend 
{
    font-size: 1.1em;
    font-weight: 600;
    padding: 2px 4px 8px 4px;
}

input.textEntry 
{
    width: 320px;
    border: 1px solid #ccc;
}

input.passwordEntry 
{
    width: 320px;
    border: 1px solid #ccc;
}

div.accountInfo
{
    width: 42%;
}

/* MISC  
----------------------------------------------------------*/

.clear
{
    clear: both;
}

.title
{
    display: block;
    float: left;
    text-align: left;
    width: 100%;
}

.title table 
{
    width: 100%;
}

.loginDisplay
{
    font-size: 1.1em;
    display: block;
    text-align: right;
    padding: 10px;
    color: White;
}

.loginDisplay a:link
{
    color: white;
}

.loginDisplay a:visited
{
    color: white;
}

.loginDisplay a:hover
{
    color: white;
}

.failureNotification
{
    font-size: 1.2em;
    color: Red;
}

.bold
{
    font-weight: bold;
}

.submitButton
{
    text-align: right;
    padding-right: 10px;
}

/*CLASES DE SISTEMA TRACKING */

.hide
{
    display:none;    
}

.rowSelected
{
    background-color:#8CC2F0;
    color: White;
}

.mouseOverTag
{
    background-color:#dde9f3;
    cursor:pointer;
    color:Black;
}

.mouseEnter
{
    background-color:#dde9f3;
    cursor:pointer;
    color:Black;
}

.mouseEnterView
{
    background-color:#dde9f3;
    color:Black;
}

.rightFloat
{
    float: right;
}

table
{
    font-size: 8.7pt;     
}

.customInput input[type=text]
{
    width:150px;    
}

.customInput select
{
    width:150px;    
}


.space-table
{
    width: 100px;    
}

.control
{
    
}

.textAreaJustify
{
    white-space: pre-line;
    text-align: justify;        
}

* :focus
{
    outline:none;
}

.noUnderline 
{
    text-decoration: none;    
}

.fontDecorate
{
    color: #666666;
    font-variant: small-caps;
    text-transform: none;
    font-weight: 200;
    margin-bottom: 0px;  
    font-size: 1.2em;  
}

.allSpace
{
    height:100%;    
    width:100%;    
}

.allWidth
{   
    width:100%;    
}

.allHeigth
{
    height:100%;       
}

.alignRight
{
    text-align:right;    
}

.consulta
{
    
}

.modificacion
{
    
}

.creacion
{
    
}

.borrado
{
    
}

.navLiHorizontal
{
    display: inline;
    list-style-type: none;
    padding-right: 10px;    
}

.navAHorizontal:hover 
{
    background-color:#8CC2F0;
    color: White;
}

.navAHorizontal
{
    text-decoration: none;
    padding-right: 10px;
    border-right: 1px black solid;    
}

.LastnavAHorizontal
{
    text-decoration: none;    
}

.LastnavAHorizontal:hover 
{
    
    background-color:#dde9f3;
    color: White;
}



/* CSS OF ID TAGS */
/* PANTALLA PRINCIPAL */
#printPdfReport
{
    display:none;    
}

#tagLogo
{
  width:324px;
  height:102px; 
  background: url(../Imagenes/logo.jpg) no-repeat   
}

#userData
{
    text-align:right;
    color:White;
    font-family:Cambria;
    font-size:14px;   
    text-transform: none;
}

#mainDefault #contentDivHistorial
{
    display: inline-block;
    width: 100%;
}

.histToLeft
{
    float: left;
    width:30%;
}

#mainDefault
{
    font-size:8.7pt;    
}

#mainDefault #div_close_draft
{
    text-align:right;  
}

#mainDefault #div_close_draft #btn_close_batch
{
    font-size:7.7pt; 
}


#mainDefault #contentDivHistorial #divTbHistorialPaqAct
{
    border: 1px solid; 
    overflow-y: scroll;
    width: 100%; 
    height: 200px;  
}

#mainDefault #contentDivHistorial #divNotes
{
    /*border: 1px solid; */
    overflow-y: scroll;
    width: 100%; 
    height: 200px;  
}

#mainDefault #divHistorialPaqAct label
{
    background: none repeat scroll 0 0;
    font-weight: bold;
}

#mainDefault #divHistorialComment
{    
    float:right;
    width:69%;
}

#mainDefault #divHistorialComment label
{    
    background: none repeat scroll 0 0;
    font-weight: bold;
}

#mainDefault #contentDivHistorial #btnAddComment
{    
    height: 16px;
    float: right;
}

#mainDefault #divRecibirPaq #divTbRecPaq
{
    width:570px;
    float: right;
}

#mainDefault #divRecibirPaq #dataRecPaq input[type=text]
{
    width:180px;
}

#mainDefault #divRecibirPaq #dataRecPaq select
{
    width:180px;
}

 #mainDefault #divRecibirPaq #btnRecibirPkg
{
    margin-left: 80px;     
}

 #mainDefault #divRecibirPaq #btnCancelar
{
    font-size: 8pt;     
}


 #mainDefault #divRecibirPaq #nota
{
    width: 95%;
}

/* SMART TABLE CONTROL */

.searchSmartTable 
{
    width:150px;
    margin-left:5px;
}

/*.breakWord table
{
    width:100%; 
    word-wrap:break-word; 
    table-layout:fixed     
} 

.breakWord td
{
    word-wrap:break-word;      
}*/

.crearNuevoDivSmartTable span
{
    font-size: 10.7pt;
    margin-top: 5px; 
    float: right; 
    color: #034AF3;
    cursor:pointer;
}

/*FORMULARIO DE PAQUETE*/

#contentMainPaquete
{
    display:none;    
}

#mainPaquete
{
    font-size: 8.7pt;    
}

#mainPaquete #tabs
{
    clear:both;
}


/*#mainPaquete #paqueteTools #btnPrint
{
    margin-left: 50%;
}*/

#mainPaquete #paqueteTools #btnHome
{
    margin-left: 40%;
}


#mainPaquete #divNavigation
{
    height: 30px;   
}

#mainPaquete #mainDataPaquete
{
    height: 255px;
}

#mainPaquete #contentDatosDireccion {
    height: 90px;
}

#mainPaquete #mainDataPaquete #contentDataPaq
{
    clear:both;    
}

#mainPaquete #contentDivHistorial
{
    display: inline-block;
}

#mainPaquete #divTbHistorialPaqAct
{
    border: 1px solid; 
    overflow-y: scroll;
    width: 100%; 
    height: 145px;  
}


#mainPaquete #divHistorialPaqAct label
{
    background: none repeat scroll 0 0;
    font-weight: bold;
}

#mainPaquete #divHistorialComment
{    
    float:right;
    width:69%;
}


#mainPaquete #contentDivHistorial #divNotes
{
    /*border: 1px solid; */
    overflow-y: scroll;
    width: 100%; 
    height: 115px;  
}

#mainPaquete #contentDivHistorial #btnAddComment
{    
    height: 16px;
    float: right;
}


.labelDivPaqFloat
{
    
    float:left;
    width: 170px;
    margin-right: 3px;
}

.labelDivPaqFloat p
{    
    height:15px;
}

.labelDivPaqFloat p span
{    
    background: none repeat scroll 0 0;
    font-weight: bold;
    width: 160px;
}
 
.camposDivPaqFloat
{
    
    float:left;
    width: 250px;
}

.camposDivPaqFloat p
{
    height:15px;
}

.camposDivPaqFloat p input[type=text]
{
    width: 200px;
}

#mainPaquete #paqueteTools
{
    font-family: Cambria;
    padding: 4px;
    display: inline;
    display: inline-block;    
    width: 100%;
}

/* FORMULARIO DE CREAR NUEVO DOCUMENTO */

#nuevoDocumento
{
    font-size:8.7pt;    
}

#nuevoDocumento #searchIdnuevDoc
{
    margin-left:5px;
    width: 300px;
}

#nuevoDocumento #datosPrincipales
{
    padding-bottom: 4px;
}

#nuevoDocumento #datosPrincipales p
{
    height:15px;
}


#nuevoDocumento #datosPrincipales p label
{
    background: none repeat scroll 0 0;
    display: block;
    float: left;
    font-weight: bold;
    height: 24px;   
    width: 170px;
}

#nuevoDocumento #datosPrincipales p input[type=text]
{
    margin-left: 155px;
    width: 315px;
}

#nuevoDocumento #datosPrincipales p select
{
    margin-left: 155px;
    width: 315px;
}

#nuevoDocumento #btnDirecciones
{
    font-size: 7.5pt;
    margin-right: 22px;        
}

#nuevoDocumento #datosDireccion p span
{
    background: none repeat scroll 0 0;
    font-weight: bold;
    height: 24px;  
    width: 55px;
}

#nuevoDocumento #datosDireccion p input[type=text]
{
    width: 240px;
}

.labelDivFloat p
{    
    height:15px;
}
.labelDivFloat
{
    
    float:left;
    width: 70px;
    margin-right: 5px;
}

.camposDivFloat p
{    
    height:15px;
}
.camposDivFloat
{
    
    float:left;
    width: 250px;
}

#nuevoDocumento #divObservacion
{
    clear:both;    
}

#nuevoDocumento #divObservacion #nota
{
    width: 95%;
    height: 25px;    
}

/* FORMULARIO DE CAMBIAR DESTINATARIO */

#cambioDestinatario
{
    font-size:8.7pt;    
}

#cambioDestinatario #searchIdnuevDoc
{
    margin-left:5px;
    width: 300px;
}

#cambioDestinatario #datosPrincipales
{
    padding-bottom: 4px;
}

#cambioDestinatario #datosPrincipales p
{
    height:15px;
}


#cambioDestinatario #datosPrincipales p label
{
    background: none repeat scroll 0 0;
    display: block;
    float: left;
    font-weight: bold;
    height: 24px;   
    width: 170px;
}

#cambioDestinatario #datosPrincipales p input[type=text]
{
    margin-left: 155px;
    width: 315px;
}

#cambioDestinatario #datosPrincipales p select
{
    margin-left: 155px;
    width: 315px;
}

#cambioDestinatario #btnDirecciones
{
    font-size: 7.5pt;
    margin-right: 22px;        
}

#cambioDestinatario #datosDireccion p span
{
    background: none repeat scroll 0 0;
    font-weight: bold;
    height: 24px;  
    width: 55px;
}

#cambioDestinatario #datosDireccion p input[type=text]
{
    width: 240px;
}

.labelDivFloat p
{    
    height:15px;
}
.labelDivFloat
{
    
    float:left;
    width: 70px;
    margin-right: 5px;
}

.camposDivFloat p
{    
    height:15px;
}
.camposDivFloat
{
    
    float:left;
    width: 250px;
}

#cambioDestinatario #divObservacion
{
    clear:both;    
}

#cambioDestinatario #divObservacion #nota
{
    width: 95%;
    height: 25px;    
}
/* FORMULARIO DE CAMBIO DE DIRECCION */

#mainCambioDireccion
{
    font-size:8.7pt;
}
#mainCambioDireccion #divWizard
{
    text-align:right;      
    font-size: 7.5pt;  
}

/*#mainCambioDireccion #btnMoreDirecciones
{
    
    float: right;
    margin-right: 22px;        
}
*/

#mainCambioDireccion #divObservacion #nota
{
    width: 95%;
    height: 25px;    
}

#mainCambioDireccion #datosDireccion
{
    height: 130px;    
}
#mainCambioDireccion  .labelDivCambioDireccionFloat
{    
    float:left;
    width: 90px;
    margin-right: 1px;
}

#mainCambioDireccion  .labelDivCambioDireccionFloat p
{    
    height:15px;
}

#mainCambioDireccion .labelDivCambioDireccionFloat p span
{    
    background: none repeat scroll 0 0;
    font-weight: bold;
}
 
#mainCambioDireccion  .camposDivCambioDireccionFloat
{
    
    float:left;
    width: 235px;
}

#mainCambioDireccion #datosDireccion p input[type=text]
{
    width: 225px;
}

#mainCambioDireccion #datosDireccion p select
{
    width: 230px;
}

#mainCambioDireccion  .camposDivCambioDireccionFloat p
{
    height:15px;
}

#mainCambioDireccion #nuevDirchkLbl:hover
{
    cursor:pointer;
}

#mainCambioDireccion #divEnvNuevaDir
{
    text-align: right;
}

#mainCambioDireccion #divNueDir
{
        height:68%;
}

#mainCambioDireccion #divMasDirecciones
{
        height:60%;
}

#mainCambioDireccion #divTbDirecciones
{
        height:60%;
}
/* FORMULARIO ANADIR NUEVO COMENTARIO */



/* FORMULARIO DE DATOS CARTERA */ 

#mainDatosCartera input[type="text"]
{
    width:150px;
}

/* FORMULARIO CREAR PAQUETE */

#crearPaquete
{
    font-size:8.7pt;
}

#crearPaquete #searchIdnuevPaq
{
    
    margin-left:5px;
    width: 300px;
}

#crearPaquete #datosPrincipales
{
    float: left;
    width: 26%;
    height: 230px;
    text-align: center;
}

#crearPaquete #datosPrincipales p label
{
    background: none repeat scroll 0 0;
    display: block;
    float: left;
    font-weight: bold;
    text-align: left;
    margin-left: 12px;
    /*height: 16px;   */
    width: 95%;
}

#crearPaquete #datosPrincipales p input[type=text]
{
    width: 200px;
}

#crearPaquete #datosPrincipales p select
{
    width: 200px;
}

#crearPaquete #datosPrincipales p
{
    height: 30px;
}

#crearPaquete #datosDireccion
{
    float: right;
    height: 230px;
    width:73%;
}

#crearPaquete #datosDireccion p
{
    height: 15px;
}


.labelDivCrearPaqFloat
{
    float:left;
    width: 55px;
    margin-left: 8px;
    margin-right: 5px;
}

.camposDivCrearPaqFloat
{
    float:left;
    width: 240px;
}

#crearPaquete #datosDireccion p span
{
    background: none repeat scroll 0 0;
    font-weight: bold;
    /*height: 15px;  */
    width: 55px;
}

#crearPaquete #datosDireccion p input[type=text]
{
    width: 240px;
}

#crearPaquete #datosDireccion #labelDir
{
    margin-left:7px;
    margin-top: 7px;
        
}

#crearPaquete #datosDireccion #btnDirecciones
{
    font-size: 7.5pt;
    margin-right: 22px;        
}

#crearPaquete #divObservacion
{
    clear:both;  
    text-align: center;  
}

#crearPaquete #divObservacion #labelObservacion
{
    text-align: left; 
}

#crearPaquete #divObservacion #nota
{
    width: 95%;
    height: 25px;    
}

#crearPaquete #tbDetPaquetes
{
    /*height: 200px;*/
}

#Batch table 
{
    width: 100%;    
}

#Batch table input
{
    width: 100%;    
}

#Batch table select
{
    width: 100%;    
}